<h1>My Listings!</h1>

<h2>Active Listings:</h2>
<div *ngFor="let apartment of apartments">
  <a *ngIf="apartment.is_active===true" (click)="selectApartment(apartment)">{{ apartment.address }}</a>
    
  
</div>
<app-apartment-detail *ngIf="selectedApartment" [apartment]="selectedApartment" [apartment]=selectedApartment></app-apartment-detail>
<button *ngIf="selectedApartment" (click)="hideDetail(selectedApartment)">Hide Details</button>
<button *ngIf="selectedApartment" (click)="deactivate(selectedApartment)">Deactivate</button>
<br>


<br>
<h2>Inactive Listings:</h2>
<div *ngFor="let apartment of apartments">
  <div *ngIf="apartment.is_active===false">
    <b>{{ apartment.address }}</b>
    <app-apartment-detail *ngIf="apartment.is_active===false" [apartment]="apartment"></app-apartment-detail>
    <button (click)="activate(apartment)">Activate</button>
    <br>
  </div>
</div>
 